@import url(../css/Roboto.css);

a {
  text-decoration: none;
  color: #050808;
}

body {
  margin: 0;
  padding: 0;
  background: #f8fafa;
  color: #050808;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
header {
  margin-top: 1em;
  height: 7em;
  nav {
    display: flex;
    .button-nav {
      display: flex;
      justify-content: space-around;
      align-content: space-between;
      font-size: 1.7em;
      margin: auto;
      // padding: 1em;
      text-align: center;
      width: 70vw;
      background-color: #74a39a;
      border-radius: 0.5em;
      p {
        width: 100%;
      }
      a {
        color: #f8fafa;
      }
      .merch {
        border-right: #b2acc8 solid 2px;
        border-left: #b2acc8 solid 2px;
      }
      .contact {
        border-right: #b2acc8 solid 2px;
      }
    }
  }
}
.card {
  background-color: #74a39a;
  border-radius: 1em;
  width: 70vw;
  padding: 2em;
  margin: 1em auto;

  .title {
    font-size: 2em;
  }

  .images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .image {
      margin: auto;
      img {
        padding: 1em;
        border-radius: 5em;
        // width: 10vw;
        max-height: 25vh;
      }
    }
  }
  table {
    border-radius: 1em;
    background-color: #b2acc8;
    margin: auto;
    // width: 20vw;
    color: #f8fafa;
    caption {
      font-size: 2em;
    }
    tr {
      font-size: 1.2em;
      th,
      td {
        padding: 1em;
      }
      td.price,
      td.rating,
      td.stock {
        border-left: #f8fafa solid 1px;
      }
    }
    .number {
      span {
        margin: 10px;
      }
    }
  }
}
